
.container
{
	background-color:#85929E  ;

}

.dd
{
 width:264px;
}
.btn1
{width:140px;
background-color:#34495E;
}
.btn2
{width:140px;
background-color:#34495E;
}
body
{
	background-color:#2C3E50;
}